NODE_ENV=development
PORT=3100
PSS_DATABASE_URL="postgresql://blujet_pss:blujet_pss@localhost:5433/blujet_pss?schema=public"
PSS_INTERNAL_TOKEN="replace-with-at-least-32-random-characters"
SENTRY_DSN=
